<!DOCTYPE HTML>
<html>

<!-- Mirrored from booking.baolau.com/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2020 14:20:55 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="author" content="Baolau">
    
    <title>Train Ticket Online VN | Payment</title>
    <meta name="description" content="Information and ticket booking service for travelling in China, Vietnam, Cambodia, Laos, Thailand, Myanmar, Malaysia, Philippines and Indonesia. Find schedules and fares, book flights, trains, buses and ferries."/>
    <meta name="keywords" content="flights, cheap flights, flights to hanoi, flights to bangkok, flights to saigon, book train ticket, book train ticket online, train to sapa, train to hanoi, train to saigon, train to bangkok, train to chiang mai, bus ticket, book bus ticket online, buy bus ticket online, bus ticket to hanoi, bus ticket to saigon"/>
    
    <base target="_top">


	<!-- Libraries -->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-switch/bootstrap-switch.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../vendor/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="../vendor/owl-carousel2/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../vendor/owl-carousel2/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../vendor/lightgallery/lightgallery.css">
    <link rel="stylesheet" type="text/css" href="../dist/baolau.min6ffc.css">

    <!-- jQuery -->
    <script type="text/javascript" src="../vendor/js/jquery.min.js"></script>
</head>

<body style="overflow: hidden;">
    <div id="errors" class="modal fade">
        <input hidden type="text" value="<%=TicketInfo.SeatID%>" id="SeatID">
        <input hidden type="text" value="<%=TicketInfo.DepartureStationID%>" id="DepartureStationID">
        <input hidden type="text" value="<%=TicketInfo.ArrivalStationID%>" id="ArrivalStationID">
        <%if(typeof(TicketInfo2) != "undefined" && TicketInfo2 != null){%>
            <input hidden type="text" value="<%=TicketInfo2.SeatID%>" id="SeatID2">
            <input hidden type="text" value="<%=TicketInfo2.DepartureStationID%>" id="DepartureStationID2">
            <input hidden type="text" value="<%=TicketInfo2.ArrivalStationID%>" id="ArrivalStationID2">
        <%}%>
        <div class="modal-dialog" role="document" id="errors">
            <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center">
                   <div class="gap gap-super-small"></div>
                    <div style="letter-spacing: 3px; margin: -30px 0 35px;" class="refrigerator uppercase yellow-text super-big-text">
                        Error                    </div>
                    <div class="gap gap-small"></div>
                    <div class="message" style="letter-spacing: 1px; color: #f5f5f5" class="message big-text italic">
                        Please accept our policy
                                            </div>
                </div><!-- /.modal-content -->
                <div class="gap gap-super-small"></div>
            </div>
        </div>
    </div>

    <div id="modal_message" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center">
                    <div class="gap gap-super-small"></div>                   
                    <div id="modal_message_title" style="letter-spacing: 3px; margin: -30px 0 35px;" class="refrigerator uppercase yellow-text super-big-text">

                    </div>
                    <div class="gap gap-small"></div>
                    <div id="modal_message_text" style="letter-spacing: 1px; color: #f5f5f5" class="message big-text italic">

                    </div>
                </div><!-- /.modal-content -->
                <div class="gap gap-super-small"></div>
            </div>
        </div>
    </div>

    <div id="waiting_overlay" style="display:block;background-color: lightgoldenrodyellow;">
        <div class="container">
            <h2 style="color: #fff; text-transform: uppercase;" id="waiting_text1" class="refrigerator"></h2>
            <span id="waiting_text2" class="big-big-text"></span>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="../images/genaral/244.gif" style="width:100px">
        </div>
    </div>
<!-- Sidebar Content -->

<%- include('section')%>

<!---------------------------END Mobile Sidebar Content-------------------------------------->

<div id="menu_overlay"></div>

<div id="main_container" >
<div class="filter">
<div class="global-wrap">
    <%- include('sectionDesktop')%>

<div class="subpage panel-dark search_result_page" id="app">

   
    <!-- container -->
    <!-- END PC progress-bar-holder -->

    <!-- MOBILE progress-bar-holder -->
    <div class="container mobile-progressbar visible-xs visible-sm">
        <div class="row booking-progress uppercase">
            <div class="col-xs-2 col-sm-3 small-text">
                &nbsp; </div>

            <div class="col-xs-8 col-sm-6">
                <div class="current bold">
                    <span>KHỞI HÀNH</span>
                </div>
            </div>

            <div style="opacity: .3" class="col-xs-2 col-sm-3 small-text">
                <div class="progress-arrow-right pull-right small-text"></div>
            </div>
        </div>
    </div>

    <div id="payment" class="subpage">
        <div class="panel-dark">
    
            <!-- PC progress-bar-holder -->
            <div class="container">
                <div class="gap gap-super-small hidden-sm hidden-xs"></div>
                <div class="progress-bar-holder hidden-sm hidden-xs">
                    <ul class="progressbar small-text bold">
                        <li class="active">
                            <a v-bind:href="hrefDeparture">KHỞI HÀNH</a>
                            <em class="progress-bar-arrow "></em>
                        </li>
                        <li class="active">
                            <a v-bind:href="hrefPassengers">HÀNH KHÁCH</a>
                            <em class="progress-bar-arrow "></em>
                        </li>
                        <li class="current">
                            <span>THANH TOÁN</span>
                            <em class="progress-bar-arrow "></em>
                        </li>
                        <li class="">
                            <span>XÁC NHẬN</span>
                            <em class="progress-bar-arrow "></em>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- container -->
            <!-- END PC progress-bar-holder -->
    
            <!-- MOBILE progress-bar-holder -->
            <div class="container mobile-progressbar visible-xs visible-sm">
                <div class="row booking-progress uppercase">
                    <div class="col-xs-2 col-sm-3 small-text">
    
                        <a class="progress-arrow-left pull-left" href="https://booking.baolau.com/en/passengers?sess_key=0161c993bc7824020ae72718937f2210"></a>
                    </div>
    
                    <div class="col-xs-8 col-sm-6">
                        <div class="current bold">
                            <span>THANH TOÁN</span>
                        </div>
                    </div>
    
                    <div style="opacity: .3" class="col-xs-2 col-sm-3 small-text">
                        <div class="progress-arrow-right pull-right small-text"></div>
                    </div>
                </div>
            </div>
            <!-- END MOBILE progress-bar-holder -->
    
            <div class="container">
                <form action="https://booking.baolau.com/en/payment/?sess_key=0161c993bc7824020ae72718937f2210" id="payment_form" data-sess_key="0161c993bc7824020ae72718937f2210" data-book-time="15000" method="post" accept-charset="utf-8">
                    <div class="gap gap-section"></div>
    
                    <!-- Payment -->
                    <div id="payment_info" class="row">
                        <div class="col-xs-12">
                            <div class="gap gap-title">
                                <h1 class="special">THANH TOÁN</h1>
                                <div class="horizontal-devider hidden-sm hidden-xs"></div>
                                <p class="big-text">Vui lòng chọn phương thức thanh toán của bạn và xác nhận tổng số tiền để hoàn tất việc đặt vé của bạn.</p>
                            </div>
                            <div class="gap gap-mini"></div>
    
                            <div id="tabs-menu-style">
                                <nav class="scroll-fixed-navi" role="navigation">
                                    <ul class="scroll-menu" id="payment_group_tabs">
                                        <li class="active"><a href="#tab-payment-credit" data-toggle="tab" aria-expanded="true">Ngan Luong</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="gap gap-mini"></div>
                            <div class="tab-content" id="tab_content_payment">
                                <div class="tab-pane panel-dark active" id="tab-payment-credit">
    
                                    <!-- PAYPAL -->
    
                                    <!-- INTERNATIONAL_CARD  -->
                                    <div id="collapse_payment_onepay_international_select" class="toggle-collapse toggle-container">
                                        <div class="panel-light payment-card gap-mini-mini">
                                            <div class="padded-heading border-bottom">
                                                <a class="" role="button" data-toggle="collapse" href="#collapse_payment_onepay" style="display: none" aria-expanded="true"></a>
                                                <div class="radio">
                                                    <input class="payment_radio" id="radio_payment_onepay" type="radio" name="payment_type" value="ONEPAY_INTERNATIONAL" checked="" data-processing-fee="34000" data-processing-fee-refund="34000">
                                                    <label class="inline" for="radio_payment_onepay">
                                                        <span class="bold">Ngan Luong Payment Gateway</span>
                                                    </label>
                                                </div>
                                                <!-- <div class="payment-logo pull-right">
                                                    <img src="https://booking.baolau.com/images/payments/visa.svg">
                                                    <img src="https://booking.baolau.com/images/payments/mastercard.svg">
                                                    <img src="https://booking.baolau.com/images/payments/jcb.svg">
                                                    <img src="https://booking.baolau.com/images/payments/unionpay.svg">
                                                </div> -->
                                            </div>
                                            <div id="collapse_payment_onepay" class="panel-collapse payment_radio_collapse_panel collapse in" aria-expanded="true" style="">
                                                <div class="padded-content">
                                                    <p>Thanh toán bằng thẻ tín dụng hoặc thẻ ghi nợ Visa, MasterCard, JCB, UnionPay,... </p>
                                                    <p>Phí xử lý được áp dụng.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                   
    
                                    <!-- STRIPE -->
    
                                    <div class="toggle-collapse toggle-container">
                                        <div id="collapse_payment_stripe_select" class="collapse">
                                            <div class="panel-light payment-card gap-mini-mini">
                                                <div class="padded-heading border-bottom">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_payment_stripe" style="display:none" aria-expanded="false"></a>
                                                    <div class="radio">
                                                        <input class="payment_radio" id="radio_payment_stripe" type="radio" name="payment_type" value="STRIPE" data-processing-fee="65000" data-processing-fee-refund="65000">
                                                        <label class="inline" for="radio_payment_stripe">
                                                            <span class="bold">Credit or debit card</span>
                                                        </label>
                                                    </div>
                                                    <div class="payment-logo pull-right">
                                                        <img src="https://booking.baolau.com/images/payments/visa.svg">
                                                        <img src="https://booking.baolau.com/images/payments/mastercard.svg">
                                                        <img src="https://booking.baolau.com/images/payments/amex.svg">
                                                        <img src="https://booking.baolau.com/images/payments/jcb.svg">
                                                        <img src="https://booking.baolau.com/images/payments/unionpay.svg">
                                                    </div>
                                                </div>
                                                <div id="collapse_payment_stripe" class="panel-collapse collapse payment_radio_collapse_panel" aria-expanded="false">
                                                    <div class="padded-content">
                                                        <p>Pay with credit or debit card Visa, MasterCard, American Express, JCB, UnionPay. </p>
                                                        <p>Processing fee applies.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="gap gap-mini-mini"></div>
                                    <!-- <a id="collapse_payment_stripe_link" href="javascript:void(0)" class="external_link small-text blue-text italic" style="text-decoration: underline!important;">I have problems paying by card through OnePAY</a> -->
                                    <br>
                                </div>
    
                                <!-- STRIPE_ALIPAY -->
                                <div class="tab-pane panel-dark" id="tab-payment-alipay">
                                    <div class="toggle-collapse toggle-container">
                                        <div class="panel-light payment-card gap-mini-mini">
                                            <div class="padded-heading border-bottom">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_payment_alipay" style="display: none" aria-expanded="false"></a>
                                                <div class="radio">
                                                    <input class="payment_radio" id="radio_payment_stripe_alipay" type="radio" name="payment_type" value="STRIPE_ALIPAY" data-processing-fee="28000" data-processing-fee-refund="28000">
                                                    <label class="inline" for="radio_payment_stripe_alipay">
                                                        <span class="bold">Alipay</span>
                                                    </label>
                                                </div>
    
                                                <div class="payment-logo pull-right">
                                                    <img src="https://booking.baolau.com/images/payments/alipay.svg">
                                                </div>
    
                                            </div>
                                        </div>
                                        <div id="collapse_payment_alipay" class="panel-collapse payment_radio_collapse_panel collapse" aria-expanded="false" style="height: 0px;">
                                            <div class="padded-content">
                                                <p>Pay with Alipay.</p>
                                                <p>Processing fee applies.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ATM CARD -->
                                <div class="tab-pane panel-dark" id="tab-payment-internetBanking">
                                </div>
    
                                <!-- BANK TRANSFER -->
                                <div class="tab-pane panel-dark " id="tab-payment-bank">
    
                                </div>
    
                                <!-- CASH -->
                                <div class="tab-pane panel-dark " id="tab-payment-cash">
                                    <!--CASH OFFICE -->
    
                                    <!-- CASH AT BANKS -->
    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Price summary -->
                    <div class="row">
                        <div class="col-xs-12">
    
                            <div class="gap gap-section"></div>
                            <div class="gap gap-title">
                                <h2>TỔNG TIỀN</h2>
                                <div class="horizontal-devider hidden-sm hidden-xs"></div>
                            </div>
    
                            <!-- price_summary-->
    
                            <div id="price_summary" data-passengers="1">
                                <%if(typeof(TicketInfo2) != "undefined" && TicketInfo2 != null){%>
                                    <div class="padded-panel panel-light medium-border-top">
                                        <div class="row">
                                            <div style="line-height: 40px" class="col-md-12 col-xs-12 view-total-price-items">
                                                <div class="col-xs-12 bold">
                                                    <div class="searchresult-itenerary bold uppercase">
                                                        <span id="DepartureID2">HANOI</span> <i class="icon icon-train inline"></i><span id="ArrivalID2">HO CHI MINH </span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="padded-panel panel-light border-top">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12 view-total-price-items">
                                                <div class="col-md-6 col-xs-6">
                                                    <i class="fa fa-calendar-o"></i> <%=moment(TicketInfo2.DepartureDate).format('DD-MM-YYYY')%> </div>
                                                <div class="col-md-6 col-xs-6 mobile-text-right">
                                                    
                                                    <i class="fa fa-clock-o"></i> <span class="blue-text bold"><%=moment(TicketInfo2.DepartureTime).subtract('hour', 7).format('LT')%></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-12 view-total-price-items border-bottom">
                                                <div class="col-md-12 col-xs-12">
                                                    <span class="bold">Vietnam Railways</span> <%=TicketInfo2.TrainName%> </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="hidden-sm hidden-xs" style="border-bottom: 1px solid #f5f5f5"></div>
        
                                    <!-- Fares and passengers breakdown -->
                                    <div class="padded-panel panel-light passenger_row" data-target="departure-0-0">
                                        <div class="row ">
                                            <div class="col-md-3 col-xs-12 view-total-price-items ">
                                                <div class="col-xs-12 super-bold">
                                                    <%=Representative.Name%> </div>
                                            </div>
                                            <div class="col-md-3 col-xs-12 view-total-price-items no-padding-top-bottom  ">
                                                <div class="col-xs-12">
                                                    <%=Representative.Passport%> </div>
                                            </div>
        
                                            <div class="col-md-6 col-xs-12 view-total-price-items">
                                                <div class="col-xs-7">
                                                    <span class="bold" id="seatType2"></span>
                                                </div>
        
                                                <div class="col-xs-5 text-right yellow-text">
                                                    <span class="money" ><%=JSON.stringify(TicketInfo2.Price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> &nbsp;VND</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <!-- Service Fee -->
                                    <div class="padded-panel panel-light medium-border-bottom service_fee_row service_fee_row_73992753">
                                        <div class="row">
                                            <div class="col-md-offset-6 col-md-6 col-xs-12 view-total-price-items">
                                                <div class="col-xs-5 bold">
                                                    Số lượng hành khách</div>
                                                <div class="col-xs-2 text-right">
                                                    
                                                </div>
                                                <div class="col-xs-5 text-right yellow-text">
                                                    <span class="service_fee_73992753 money"><%=TicketInfo2.PassengerQuantity%></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%}%>
                                <div class="padded-panel panel-light medium-border-top">
                                    <div class="row">
                                        <div style="line-height: 40px" class="col-md-12 col-xs-12 view-total-price-items">
                                            <div class="col-xs-12 bold">
                                                <div class="searchresult-itenerary bold uppercase">
                                                    <span id="DepartureID">HANOI</span> <i class="icon icon-train inline"></i><span id="ArrivalID">HO CHI MINH </span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="padded-panel panel-light border-top">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12 view-total-price-items">
                                            <div class="col-md-6 col-xs-6">
                                                <i class="fa fa-calendar-o"></i> <%=moment(TicketInfo.DepartureDate).format('DD-MM-YYYY')%> </div>
                                            <div class="col-md-6 col-xs-6 mobile-text-right">
                                                <i class="fa fa-clock-o"></i> <span class="blue-text bold"><%=moment(TicketInfo.DepartureTime).subtract('hour', 7).format('LT')%></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12 view-total-price-items border-bottom">
                                            <div class="col-md-12 col-xs-12">
                                                <span class="bold">Vietnam Railways</span> <%=TicketInfo.TrainName%> </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="hidden-sm hidden-xs" style="border-bottom: 1px solid #f5f5f5"></div>
    
                                <!-- Fares and passengers breakdown -->
                                <div class="padded-panel panel-light passenger_row" data-target="departure-0-0">
                                    <div class="row ">
                                        <div class="col-md-3 col-xs-12 view-total-price-items ">
                                            <div class="col-xs-12 super-bold">
                                                <%=Representative.Name%> </div>
                                        </div>
                                        <div class="col-md-3 col-xs-12 view-total-price-items no-padding-top-bottom  ">
                                            <div class="col-xs-12">
                                                <%=Representative.Passport%> </div>
                                        </div>
    
                                        <div class="col-md-6 col-xs-12 view-total-price-items">
                                            <div class="col-xs-7">
                                                <span class="bold" id="seatType"></span>
                                            </div>
    
                                            <div class="col-xs-5 text-right yellow-text">
                                                <span class="money" ><%=JSON.stringify(TicketInfo.Price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%> &nbsp;VND</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- Service Fee -->
                                <div class="padded-panel panel-light medium-border-bottom service_fee_row service_fee_row_73992753">
                                    <div class="row">
                                        <div class="col-md-offset-6 col-md-6 col-xs-12 view-total-price-items">
                                            <div class="col-xs-5 bold">
                                                Số lượng hành khách </div>
                                            <div class="col-xs-2 text-right">
                                                
                                            </div>
                                            <div class="col-xs-5 text-right yellow-text">
                                                <span class="service_fee_73992753 money"><%=TicketInfo.PassengerQuantity%></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                              
                                <!-- Change Fee  -->

                                <div class="hidden-sm hidden-xs" style="border-bottom: 1px solid #f5f5f5"></div>
    
                                <div class="hidden-sm hidden-xs" style="border-bottom: 1px solid #f5f5f5"></div>
    
                                <!-- Red Invoice Delivery Fee -->
    
                                <!-- Total -->
                                <div class="padded-panel panel-light medium-border-top medium-border-bottom">
                                    <div class="row">
                                        <div class="col-md-offset-6 col-md-6 col-xs-12 view-total-price-items">
                                            <div class="col-xs-5 uppercase super-bold">
                                                Tổng </div>
                                            <div class="col-xs-offset-2 col-xs-5 text-right super-bold yellow-text">
                                                <span id="total_booking" class="money"><%=JSON.stringify(Representative.TotalCost).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%>&nbsp;đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End price_summary-->
                        </div>
                    </div>
    
                    <div class="gap gap-section"></div>
    
                    <!-- Insurrance -->
    
                    <!-- Terms and Conditions -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="gap gap-title">
                                <h2>Điều khoản và điều kiện đặt chỗ</h2>
                                <div class="horizontal-devider hidden-sm hidden-xs"></div>
                            </div>
                            <div class="panel-light">
                                <div class="padded-heading">
                                    <div class="payment-terms smaller-text scrollbar-style">
                                        <div style="padding-right: 20px">
    
                                            <div class="panel-content">
                                                <h2>Các điều khoản dịch vụ</h2>
                                                <div class="gap-title"></div>
    
                                                <h3>1. Áp dụng các điều khoản và điều kiện</h3>
                                                <div class="gap gap-small"></div>
                                                <p>Việc sử dụng trang web này và mua các dịch vụ từ trang web đồng nghĩa với việc người dùng đồng ý tuân theo và bị ràng buộc bởi các Điều khoản sử dụng và Điều kiện được thiết đặt trên trang web này.</p>
                                                <p>TTOVN có quyền thay đổi, chỉnh sửa, bổ sung hoặc loại bỏ các phần của trang web, chính sách và Điều khoản sử dụng bất kỳ lúc nào theo quyết định riêng mà không cần thông báo trước. Vui lòng kiểm tra nội dung mới nhất.</p>
                                                <p>Tiếp tục sử dụng trang web này sau khi thay đổi được hiểu là người dùng đồng ý với những điều chỉnh đó.</p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>2. Diễn giải thuật ngữ</h3>
                                                <div class="gap-title"></div>
                                                <p>
                                                    <span class="bold">"Hãng vận tải hành khách"</span> bao gồm tất cả các công ty phát hành vé phương tiện giao thông vận tải và cung cấp dịch vụ vận tải đường hàng không, đường bộ, đường thủy, bao gồm nhưng không giới hạn các hãng hàng không, các công ty đường sắt, các hãng xe khách và công ty tàu thủy. Bạn hiểu và đồng ý rằng TTOVN không phải là Hãng vận tải hành khách.
                                                </p>
                                                <p>
                                                    <span class="bold">"Chúng tôi", "của chúng tôi"</span> có nghĩa là TTOVN cùng các đại diện, nhà cung cấp dịch vụ trực tuyến và quản trị viên của trang web này.
                                                </p>
                                                <p>
                                                    <span class="bold">"Bạn", "các bạn", "của các bạn"</span> có nghĩa là người sử dụng trang web này và dịch vụ trực tuyến của TTOVN.
                                                </p>
    
                                                <div class="gap-section"></div>
    
                                                <h3>3. Điều kiện chung</h3>
                                                <div class="gap-title"></div>
                                                <p>Những điều khoản này ("Điều khoản sử dụng") quy định việc bạn sử dụng trang web này. Truy cập trang web này đồng nghĩa với việc bạn chấp nhận những điều khoản của chúng tôi.</p>
                                                <p>Dịch vụ trực tuyến được cung cấp bởi <span class="bold">TTOVN.</span>
                                                 <div class="gap-section"></div>
                                                 <h3>4. Điều kiện chung của các dịch vụ trực tuyến</h3>
        <div class="gap-title"></div>
        <p>Baolau là một "Dịch vụ thông tin du lịch và đặt vé trực tuyến" về du lịch tại Việt Nam, Campuchia, Lào và Thái Lan nhằm so sánh các tuyến đường, lịch trình và giá vé máy bay, tàu hỏa, xe khách và tàu thủy được vận hành bởi các Hãng vận tải hành khách trong và ngoài nước, đồng thời hỗ trợ đặt vé cho du khách.</p>
        <div class="gap gap-small"></div>
        <div style="text-transform: uppercase;" class="bold gap-mini">Nội dung của thông tin</div>
        <p>Baolau cung cấp các thông tin sau về các dịch vụ vận chuyển:</p>
        <p class="text-indent">
            <i class="highlight-point fas fa-angle-right"></i>
            Tên và Logo của Hãng vận tải hành khách.
        </p>
        <p class="text-indent">
            <i class="highlight-point fas fa-angle-right"></i>
            Các tuyến đường, xác định bởi một điểm xuất phát và điểm đến.
        </p>
        <p class="text-indent">
            <i class="highlight-point fas fa-angle-right"></i>
            Lịch trình, xác định bởi thời gian khởi hành, thời gian đến và thời gian của cuộc hành trình.
        </p>
        <p class="text-indent">
            <i class="highlight-point fas fa-angle-right"></i>
            Mã dịch vụ, một số hoặc sự kết hợp của các chữ cái và con số để xác định các loại máy bay, tàu hỏa, xe khách hoặc tàu thủy.
        </p>
        <p class="text-indent">
            <i class="highlight-point fas fa-angle-right"></i>
            Giá vé, bao gồm giá cơ bản theo hạng ghế và thuế, phí.
        </p>
        <p>Các thông tin trên trang web này được chia sẻ với mục đích duy nhất là cung cấp tài liệu tham khảo về các dịch vụ giao thông vận tải. Baolau tập hợp tất cả các thông tin từ các nguồn đáng tin cậy liên quan đến các Hãng vận tải hành khách. Các nguồn dữ liệu được cung cấp và kiểm soát bởi các Hãng vận tải hành khách và nó có thể thay đổi bất cứ lúc nào mà không cần thông báo. Do tính chất biến động của các thông tin và thực tế là nó được cung cấp bởi một bên thứ ba, bạn hiểu và đồng ý rằng các thông tin về giá cả được hiển thị trong trang web của chúng tôi có thể khác với giá thực tế của vé tại thời điểm đặt chỗ hoặc thanh toán do biến động của giá vé, lệ phí khác như phí quản lý, phí dịch vụ và phí thanh toán được thêm vào bởi các Hãng vận tải hành khách, và bạn không nên tham khảo duy nhất nội thông tin giá vé của chúng tôi trước khi đặt vé.</p>

        <div style="text-transform: uppercase;" class="bold gap-mini">Quy trình đặt và giữ chỗ</div>
        <p>Bên cạnh cung cấp thông tin, Baolau còn kết nối bạn với các dịch vụ đặt vé của Hãng vận tải hành khách (liên kết với các Hãng vận tải hành khách) thu thập thông tin cá nhân của bạn (họ tên, email và số điện thoại) và thông tin của hành khách (họ tên, số CMND/Hộ chiếu và ngày sinh). Thông qua sự đồng ý của bạn chúng tôi thực hiện đặt chỗ, khi nhận được xác nhận mã đặt chỗ qua email hoặc tin nhắn bạn tiếp tục thanh toán bao gồm giá vé và phí dịch vụ. Sau khi thanh toán, bạn sẽ nhận được hóa đơn và xác nhận đặt chỗ, và nhận vé qua email/tin nhắn SMS, hoặc bạn sẽ nhận được voucher để đổi vé tại nhà ga.</p>

        <p>Nếu bạn cung cấp bất kỳ thông tin cá nhân cho Baolau, chúng tôi sẽ thu thập, quản lý và lưu trữ dữ liệu theo Chính sách bảo mật của chúng tôi và phù hợp với các điều khoản có liên quan đến Điều khoản sử dụng và Chính sách bảo mật của các Hãng vận tải hành khách, đối tượng sẽ tiến hành các đặt chỗ của bạn. Là một người dùng, bạn chịu trách nhiệm về tính chính xác của thông tin cá nhân được cung cấp tại thời điểm đặt chỗ và xuất trình giấy tờ thông hành còn hiệu lực tại thời điểm kiểm tra hoặc lên tàu, xe. Khi bạn cung cấp bất kỳ thông tin cá nhân nào, bạn đồng ý rằng bạn không được xuyên tạc hoặc mạo danh một cá nhân khác mà không được sự đồng ý và chấp thuận cần thiết, hoặc cung cấp thông tin sai lệch về nhận dạng của bạn dù bất kỳ cách nào.</p>  
        <p>Baolau không chịu trách nhiệm khi bạn không nhận được xác nhận đặt chỗ nếu bạn cung cấp địa chỉ email hoặc số điện thoại không chính xác cho chúng tôi hoặc email hoặc tin nhắn có thể không được gửi đi vì lỗi kỹ thuật.</p>    

        <div style="text-transform: uppercase;" class="bold gap-mini">Thanh toán</div>

        <p>Trong trường hợp bạn ủy quyền cho Baolau thực hiện đặt chỗ thay cho mình, bạn sẽ tiến hành thành toán ngay trên website và nhận xác nhận đặt chỗ bằng email hoặc sms.</p>

        <p>Xin lưu ý rằng trong quá trình thanh toán, chúng tôi có thể tính thêm phí như phí dịch vụ của Baolau (bao gồm phí xử lý đặt vé, phí liên kết và phí thanh toán), do đó tổng chi phí của các giao dịch thương mại có thể khác với thông tin của giá vé, vì chúng tôi hiển thị giá vé tính từ giá vé cơ bản và các loại thuế, lệ phí (ví dụ như những chi phí áp đặt bởi chính phủ hoặc cơ quan giao thông vận tải hay ban quản lý cơ sở hạ tầng đối với việc sử dụng các tiện ích).</p>
        
        <p>Baolau chấp nhận nhiều hình thức “Thanh toán trực tuyến”. Khi thanh toán bằng bằng thẻ tín dụng hoặc thẻ ghi nợ, bạn cho quyền chúng tôi thu phí toàn bộ chi phí đặt chỗ từ thẻ của bạn, bao gồm giá vé và các chi phí khác bao gồm trên hoá đơn.</p>
        
        <p>Vì mục đích ngăn chặn gian lận thẻ thanh toán, chúng tôi có quyền liên lạc với bạn và yêu cầu bổ sung thông tin để xác minh bạn là chủ thẻ hợp pháp của thẻ tín dụng hoặc thẻ ghi nợ trước khi đặt chỗ của bạn được xác nhận. Quy trình xác minh này bảo vệ bạn khỏi gian lận và đảm bảo an toàn khi bạn sử dụng thẻ tín dụng hoặc thẻ ghi nợ trên trang web của chúng tôi.</p>
           
        <div style="text-transform: uppercase;" class="bold gap-mini">Thay đổi</div>

        <p>Trong trường hợp bạn đặt chỗ thông qua trang web của chúng tôi, bạn có quyền yêu cầu thay đổi đặt chỗ theo Chính sách Thay đổi bên dưới:</p>
        
        <p class="text-indent">
            <i class="highlight-point fas fa-angle-right"></i>
            Thay đổi hành trình hoặc nơi khởi hành/nơi đến không được phép.
        </p>
        <p class="text-indent">
            <i class="highlight-point fas fa-angle-right"></i>
            Thay đổi hành khách không được phép. Lỗi trong tên của hành khách hay số CMND/Hộ chiếu sẽ đòi hỏi một sự thay đổi của các mã đặt chỗ, chịu phí bổ sung.
        </p>
        <p class="text-indent">
            <i class="highlight-point fas fa-angle-right"></i>
            Thay đổi giờ/ngày được phép theo Chính sách thay đổi của Hãng vận tải hành khách.
        </p>
        
        <p>
        	    <p>Các điều khoản và điều kiện thay đổi sau đây áp dụng cho vé tàu hỏa:</p>
            
<div class="table-responsive">
    <table class="policy-table">
                                                        
        <tr style="border-bottom: 1px solid #ddd;background-color: #d1cfcf">
            <td style="width: 50%;"><span class="bold">Vietnam Railways</span></td>
            <td style="width: 50%; background-color: #ddd;">Đổi giờ/ngày</td>
        </tr>

                            
            <tr>
                <td style="background-color: #ddd">Vé Nằm khoang 4</td>
                <td><i class="fa fas fa-times"></i> Không được phép</td>
            </tr>
                    
            <tr>
                <td style="background-color: #ddd">Vé Nằm khoang 6</td>
                <td><i class="fa fas fa-times"></i> Không được phép</td>
            </tr>
                    
            <tr>
                <td style="background-color: #ddd">Vé Ngồi mềm</td>
                <td><i class="fa fas fa-times"></i> Không được phép</td>
            </tr>
                    
            <tr>
                <td style="background-color: #ddd">Vé Ngồi cứng</td>
                <td><i class="fa fas fa-times"></i> Không được phép</td>
            </tr>
                    
            <tr>
                <td style="background-color: #ddd">Vé Ghế phụ</td>
                <td><i class="fa fas fa-times"></i> Không được phép</td>
            </tr>
                    
            <tr>
                <td style="background-color: #ddd">Vé Không chỗ</td>
                <td><i class="fa fas fa-times"></i> Không được phép</td>
            </tr>
            </table>
</div>

<br>

    <!--case: If at least one of the existing Fare classes has the change policy as fare_rule_option_permitted or fare_rule_option_permitted_with_fees-->
            
<p>
Theo chính sách của Vietnam Railways, <span class='bold'>một khi đặt chỗ đã được xác nhận không được phép thay đổi</span>.
</p>

                <!--Additionally, we will check if at least one of the existing Fare classes has the cancel policy fare_rule_option_permitted_with_fees to append-->
            <p>
Để thay đổi thông tin tên hành khách, số CMND/Hộ chiếu, lịch trình, loại chỗ hay ngày đi, bạn phải hủy đặt chỗ hiện tại và phát hành đặt chỗ mới.
</p>
            
    
        <br>	
            </p>
 
        <div style="text-transform: uppercase;" class="bold gap-mini">Hủy vé</div>

        <p>Trong trường hợp bạn đặt chỗ thông qua trang web của chúng tôi, bạn có quyền yêu cầu hủy bỏ đặt chỗ theo Chính sách Thay đổi bên dưới:</p>
        
        <p class="text-indent">
            <i class="highlight-point fas fa-angle-right"></i>
            Nếu bạn không làm thủ tục check-in theo đúng thời gian quy định hoặc không lên tàu bay theo đúng thời gian quy định, bạn sẽ không được hoàn trả tiền vé. Hủy bỏ sau giờ khởi hành không được phép.
        </p>
        <p class="text-indent">
            <i class="highlight-point fas fa-angle-right"></i>
            Hủy bỏ trước giờ khởi hành được phép theo Chính sách thay đổi của Hãng vận tải hành khách.
        </p>
        
        <p>
        	    <p>Các điều khoản và điều kiện hủy vé sau đây áp dụng cho vé tàu hỏa:</p>
            
<div class="table-responsive">
    <table class="policy-table">
                                                                        
        <tr style="border-bottom: 1px solid #ddd;background-color: #d1cfcf">
            <td style="width: 50%;"><span class="bold">Vietnam Railways</span></td>
            <td style="width: 50%; background-color: #ddd;">Hủy trước giờ khởi hành</td>
        </tr>

                            
            <tr>
                <td style="background-color: #ddd">Vé Nằm khoang 4</td>
                                <td><i class="fa fas fa-check"></i> Được phép, thu phí</td>
            </tr>
                    
            <tr>
                <td style="background-color: #ddd">Vé Nằm khoang 6</td>
                                <td><i class="fa fas fa-check"></i> Được phép, thu phí</td>
            </tr>
                    
            <tr>
                <td style="background-color: #ddd">Vé Ngồi mềm</td>
                                <td><i class="fa fas fa-check"></i> Được phép, thu phí</td>
            </tr>
                    
            <tr>
                <td style="background-color: #ddd">Vé Ngồi cứng</td>
                                <td><i class="fa fas fa-check"></i> Được phép, thu phí</td>
            </tr>
                    
            <tr>
                <td style="background-color: #ddd">Vé Ghế phụ</td>
                                <td><i class="fa fas fa-check"></i> Được phép, thu phí</td>
            </tr>
                    
            <tr>
                <td style="background-color: #ddd">Vé Không chỗ</td>
                                <td><i class="fa fas fa-check"></i> Được phép, thu phí</td>
            </tr>
            </table>
</div>

<br>

    <!--static-->
	
<p>
Nếu bạn muốn <span class='bold'>hủy đặt chỗ tại nhà ga</span>, vui lòng xuất trình vé tàu điện tử và CMND/Hộ chiếu tại quầy đồng thời yêu cầu hủy vé để được hoàn trả bằng tiền mặt. Tùy chọn này <span class='bold'>có sẵn cho đến 4 giờ trước khi khởi hành</span>, ngoại trừ ngày lễ là 24 giờ trước khi khởi hành.
</p>
<p>
Phí dịch vụ sẽ không được hoàn trả. Phí hủy bỏ sẽ được áp dụng.
</p>
<p>
- Mỗi vé thường: 20% phí giá vé
<br>
- Đối với hành trình Hà Nội - Lào Cai va mỗi vé vào các ngày lễ: áp dụng 50% phí giá vé
<br>
- Mỗi vé khuyến mại: số tiền tùy thuộc vào quyết định của cơ quan đường sắt
</p>
<p>
Nếu bạn muốn <span class='bold'>hủy đặt chỗ trực tuyến</span>, vui lòng quản lý đặt chỗ của bạn và yêu cầu hủy bỏ để hoàn trả. Tùy chọn này <span class='bold'>có sẵn cho đến 24 giờ trước khi khởi hành</span>, ngoại trừ ngày lễ.
</p>
<p>
Phí dịch vụ sẽ không được hoàn trả. Phí hủy bỏ sẽ được áp dụng.
</p>
<p>
- Mỗi vé thường: 20% phí giá vé + 25,000 VND trên mỗi vé
<br>
- Đối với hành trình Hà Nội - Lào Cai va mỗi vé vào các ngày lễ: áp dụng 50% phí giá vé + 25,000 VND trên mỗi vé
<br>
- Mỗi vé khuyến mại: số tiền tùy thuộc vào quyết định của cơ quan đường sắt + 25,000 VND trên mỗi vé
</p>
	
        <br>	
            </p>
        
        <div style="text-transform: uppercase;" class="bold gap-mini">Hoàn trả</div>
        
        <p>Trong hoàn cảnh bình thường, sau khi đặt chỗ của bạn chuyển sang trạng thái Đã xác nhận, Đã hủy hoặc Hết vé, bất kỳ hoàn vé một phần hoặc toàn phần sẽ được xử lý trong một khoảng thời gian không quá 15 ngày làm việc và sau đó bạn sẽ được thông báo qua email. Số tiền hoàn trả sẽ được nhận bởi khách hàng sau 30-45 ngày (tùy thuộc vào các ngân hàng phát hành thẻ).</p>

        <p>Trong trường hợp hủy bỏ do hạn chế đi lại liên quan đến đại dịch hoặc trong thời kỳ đại dịch, sau khi đặt chỗ của bạn chuyển sang trạng thái Đã hủy, bất kỳ hoàn vé một phần hoặc toàn phần sẽ được xử lý trong một khoảng thời gian không quá 90-120 ngày (tùy thuộc vào điều kiện hoàn trả của Hãng vận tải hành khách) và sau đó bạn sẽ được thông báo qua email. Số tiền hoàn trả sẽ được nhận bởi khách hàng sau 30-45 ngày (tùy thuộc vào các ngân hàng phát hành thẻ).</p>
                
        <p>Trong trường hợp dịch vụ vận chuyển bị hủy bỏ theo quyết định của Hãng vận tải hành khách, bạn được quyền nhận lại số tiền tương ứng với giá vé hoặc theo quyết định cuối cùng của Hãng vận tải hành khách. Phí dịch vụ sẽ không được hoàn lại vì dịch vụ đặt vé do Baolau cung cấp được tách biệt với dịch vụ vận chuyển do Hãng vận chuyển hành khách cung cấp.</p>
                
        <div class="gap-section"></div>  
        
        <h3>5. Bảo vệ thông tin cá nhân</h3>
        <div class="gap-title"></div>
        <p><a href="https://booking.ttovn.com/vi/legal/#privacy-policy" class="external_link" target="_blank">Chính sách bảo mật</a> của chúng tôi giải thích các điều khoản bằng cách nào mà Baolau bảo vệ quyền riêng tư về thông tin cá nhân cho các bạn.</p>
        <p>Việc sử dụng trang web này đồng nghĩa với việc bạn đồng ý với Chính sách bảo mật của Baolau.</p>
        <p>Thông tin cá nhân của bạn gửi đến trang web này sẽ được sử dụng theo Chính sách bảo mật của chúng tôi và theo yêu cầu của pháp luật.</p>
        <p>Để biết thêm thông tin, vui lòng tham khảo Chính sách bảo mật của chúng tôi, có thể được tìm thấy tại <a href="https://booking.baolau.com/vi/legal/#privacy-policy" class="external_link" target="_blank"> https://www.baolau.com/privacy-policy.</a></p>
                
        <div class="gap-section"></div>  
        
        <h3>6. Quyền và nghĩa vụ</h3>
        <div class="gap-title"></div>
        <p>Baolau được quyền sử dụng tất cả các thông tin trong trang web này, bao gồm cả lịch trình và thông tin giá cả, từ các nguồn công khai đáng tin cậy liên quan đến các Hãng vận tải hành khách. Chúng tôi cam kết cố gắng đảm bảo rằng tất cả các thông tin là đầy đủ, chính xác và cập nhật, nhưng vì nó được cung cấp bởi một bên thứ ba nên chúng tôi không thể bảo đảm mọi nội dung đều chính xác như thực tế.</p>
        <p>Baolau chịu trách nhiệm kết nối bạn với hệ thống đặt chỗ của Hãng vận tải hành khách bất cứ khi nào bạn chọn một hành trình và muốn giữ chỗ cho mọi dịch vụ vận tải bao gồm trong hành trình. Trong trường hợp bạn lên kế hoạch hành trình theo các gợi ý từ trang web này, Baolau sẽ hỗ trợ và kết nối với bạn và Hãng vận tải hành khách để giải quyết bất kỳ vấn đề xảy ra trong quá trình đặt chỗ.</p>
        <p>Trong trường hợp bạn cung cấp cho chúng tôi thông tin cá nhân để thực hiện đặt chỗ thay cho bạn, mặc định chúng tôi nhận được sự đồng ý và cho phép từ bạn. Ngoài ra, chúng tôi có quyền thu, quản lý và lưu trữ dữ liệu theo Chính sách bảo mật của chúng tôi đồng thời phù hợp với các điều khoản có liên quan của Điều khoản sử dụng và Chính sách bảo mật của các Hãng vận tải hành khách sẽ thực hiện đặt chỗ của bạn.</p>

        <div class="gap-section"></div> 
        
        <h3>7. Quyền miễn trừ và giới hạn trách nhiệm</h3>
        <div class="gap-title"></div>
        <p>Các thông tin trên trang web này không đi kèm với bất kỳ bảo đảm nào, thể hiện hay ngụ ý, bao gồm, nhưng không giới hạn khả năng bán được, sự phù hợp của sản phẩm, dịch vụ cho một mục đích cụ thể, hoặc không vi phạm quyền sở hữu trí tuệ.</p>
        <p>Các văn bản và nội dung của trang web này được hiển thị cho mục đích thông tin, và không đảm bảo về lỗi, tính chính xác hay cập nhật. Bạn hiểu và đồng ý rằng các thông tin về lịch trình và giá cả cho các dịch vụ giao thông vận tải là biến động và nó có thể thay đổi bất cứ lúc nào mà không cần thông báo; những thông tin được cung cấp bởi các Hãng vận tải hành khách và các bên thứ ba sẽ chịu trách nhiệm về mọi thay đổi mà Baolau sẽ không đảm bảo hoặc chịu trách nhiệm để kiểm soát và thông báo về những thay đổi này.</p>
        <p>Trong mọi trường hợp Baolau không chịu trách nhiệm về bất kỳ Nội dung người dùng được cung cấp trên trang web của bên thứ ba, bao gồm cả tài khoản Facebook hoặc một trang web xã hội khác.</p>
        <p>Khi truy cập vào trang web này, bạn đồng ý rằng Baolau và đại diện của mình sẽ không chịu trách nhiệm hoặc chịu trách nhiệm về bất kỳ khiếu nại, thiệt hại, mất mát hoặc trách nhiệm khác phát sinh từ:</p>
       <p>
           (1) Việc sử dụng hoặc lạm dụng thông tin trên trang web này.
        </p>
        <p>
            (2) Sự gián đoạn hoặc chấm dứt hoạt động bình thường của trang web này, hoặc không có khả năng sử dụng trang web này hoặc bất kỳ nội dung chứa trong nó. 
        </p>
        <p>
            (3) Truy cập thông tin hoặc việc xử lý các giao dịch buôn bán trên các trang web bên ngoài liên kết với trang web này, bao gồm nhưng không giới hạn về việc:
        </p>
            <p>
                <i style="padding-left: 60px;" class="highlight-point fas fa-angle-right"></i>
                Không có khả năng để xử lý các đặt chỗ vì lý do kỹ thuật. 
            </p>
            <p>
                <i style="padding-left: 60px;" class="highlight-point fas fa-angle-right"></i>
                 Từ chối bất kỳ hình thức thanh toán cụ thể từ chúng tôi hoặc Hãng vận tải hành khách trong việc hoàn thành các đặt chỗ.
            </p>
            <p>
                <i style="padding-left: 60px;" class="highlight-point fas fa-angle-right"></i>
                Hủy bỏ đặt chỗ do hết thời hạn thanh toán theo quy định của chúng tôi hoặc Hãng vận tải hành khách.
            </p>

        <p>
            (4) Tính chính xác của lịch trình và vé của các dịch vụ giao thông vận tải công bố trên trang web này, bao gồm nhưng không giới hạn về:
        </p>
            <p>
                <i style="padding-left: 60px;" class="highlight-point fas fa-angle-right"></i>
                 Bất kỳ sự khác biệt về giá vé trong thời gian hoàn thành đặt chỗ.
            </p>
            <p>
                <i style="padding-left: 60px;" class="highlight-point fas fa-angle-right"></i>
                 Bất kỳ thay đổi hoặc chậm trễ trong thời gian khởi hành hay thời gian đến sau khi Hãng vận tải hành khách đã xác nhận mã đặt chỗ.
            </p>

        <p>
            (5) Thực hiện các dịch vụ vận tải được cung cấp bởi các Hãng vận tải hành khách, bao gồm nhưng không giới hạn việc: 
        </p>
            <p>
                <i style="padding-left: 60px;" class="highlight-point fas fa-angle-right"></i>
                Tình trạng bán quá số ghế ngồi, hoặc bị từ chối thủ tục kiểm tra hoặc lên tàu vì lý do đã bao gồm trong các điều kiện vận chuyển của Hãng vận tải hành khách.
            </p>
            <p>
                <i style="padding-left: 60px;" class="highlight-point fas fa-angle-right"></i>
                Hủy bỏ, bị gián đoạn, thay đổi tuyến hoặc chậm trễ của dịch vụ vận tải theo quyết định của Hãng vận tải hành khách hoặc do điều kiện thời tiết, đình công, sự chậm trễ kiểm soát không lưu hay một sự kiện bất khả kháng.
            </p>
            <p>
                <i style="padding-left: 60px;" class="highlight-point fas fa-angle-right"></i>
                Từ chối vận chuyển hành lý của bạn vì những lý do đã bao gồm trong các điều kiện vận chuyển của Hãng vận tải hành khách, hoặc sự mất mát hoặc hư hỏng hành lý của bạn.
            </p>
        
        <p>
            (6) Sử dụng các dịch vụ vận tải được lựa chọn bởi bạn, bao gồm nhưng không giới hạn việc:
        </p>
            <p>
                <i style="padding-left: 60px;" class="highlight-point fas fa-angle-right"></i>
                Bạn không thể đi lại nếu không có thị thực, giấy phép hoặc giấy thông hành, ví dụ bạn bị từ chối làm thủ tục hoặc cấm lên tàu, bị từ chối nhập cảnh, bị trục xuất.
            </p>
            <p>
                <i style="padding-left: 60px;" class="highlight-point fas fa-angle-right"></i>
                Bạn không thể đi lại nếu bạn bỏ qua hoặc không tuân thủ các hướng dẫn có trong vé hoặc voucher hoặc email được gửi cho bạn sau khi đặt chỗ của bạn được xác nhận.
            </p>
            <p>
                <i style="padding-left: 60px;" class="highlight-point fas fa-angle-right"></i>
                Bạn không thể kết nối một dịch vụ vận tải vì dịch vụ vận tải trước đó bị trì hoãn hoặc hủy bỏ. Baolau hoặc Hãng vận tải hành khách không có nghĩa vụ đảm bảo kết nối khi bạn chọn hành trình có nối chuyến. Trong những trường hợp đó, chúng tôi luôn khuyến khích bạn tự cân nhắc và lựa chọn thời gian nối chuyến phù hợp nhất cũng như tự chịu trách nhiệm về các rủi ro phát sinh sau này.
            </p>

        <p>Bạn hiểu và đồng ý rằng nếu bạn gặp bất kỳ vấn đề với việc thực hiện các dịch vụ vận tải bạn phải giải quyết tranh chấp của bạn với các Hãng vận tải hành khách và biện pháp khắc phục duy nhất của bạn trong những trường hợp như vậy, bao gồm bất kỳ khoản bồi thường hoặc hoàn lại tiền phải hợp lệ với các Hãng vận tải hành khách mà không phải với Baolau.</p>
        <p>Tất cả loại trừ và hạn chế nêu trên chỉ áp dụng trong phạm vi pháp luật cho phép.</p>

        <div class="gap-section"></div> 
        
        <h3>8. Quyền sở hữu trí tuệ</h3>
        <div class="gap-title"></div> 
        <p>Bạn có thể sử dụng trang web này chỉ dành cho mục đích cá nhân và phi thương mại.</p>
        <p>Bạn không thể sử dụng, sao chép, sửa đổi, điều chỉnh hoặc phát tán các nội dung trên trang web này cho bất kỳ bên thứ ba nào, hoặc tạo ra các tài liệu khác bằng cách sử dụng nội dung trên trang web này mà không có sự đồng ý bằng văn bản của Baolau.</p>
        <p>Tất cả hình ảnh, thương hiệu và nhãn hiệu hiển thị trên trang web này, đã đăng ký hoặc chưa đăng ký, được sở hữu bởi Baolau và không được sử dụng, sao chép, lưu truyền hoặc sửa đổi bằng bất kỳ cách nào mà không có sự cho phép bằng văn bản của Baolau, ngoại trừ những hình ảnh và nhãn hiệu liên quan đến các Hãng vận tải hành khách xuất hiện trong trang web này; trong trường hợp này, quyền tác giả và sở hữu trí tuệ của các thông tin thuộc về chủ sở hữu hợp pháp của nó.</p>
        <p>Chúng tôi tôn trọng quyền sở hữu trí tuệ của người khác. Nếu bạn có lý do để tin rằng bản quyền của bạn đang bị xâm phạm bởi bất kỳ nội dung trên trang web này, xin vui lòng liên lạc qua các hình thức liên lạc hoặc gửi văn bản thông báo về việc vi phạm đó đến địa chỉ công ty của chúng tôi.</p>

        <div class="gap-section"></div> 
        
        <h3>9. Liên kết đến các trang web bên ngoài</h3>
        <div class="gap-title"></div> 
        <p>Trang web này chứa các liên kết đến các trang web bên ngoài thuộc sở hữu của Hãng vận tải hành khách và các bên thứ ba khác.</p>
        <p>Baolau không bảo đảm và cũng không chấp nhận bất kỳ trách nhiệm đối với các tài liệu trên các trang web bên ngoài, cũng không bắt buộc phải duy trì hay cập nhật các liên kết.</p>
        <p>Xin vui lòng cân nhắc đến các rủi ro khi sử dụng các liên kết.</p>

        <div class="gap-section"></div> 
        
        <h3>10. Liên kết từ các trang web bên ngoài</h3>
        <div class="gap-title"></div> 
        <p>
            Các siêu liên kết (hoặc liên kết) đến trang web này được cấp phép từ các trang web bên ngoài. Tuy nhiên, các trang web bên ngoài không được phép nhúng bất kỳ khung khác "Widget" của chúng tôi tại: <a href="https://www.baolau.com/widget" class="external_link" target="_blank">https://www.baolau.com/widget</a> không được sao chép một phần hoặc toàn bộ tài liệu từ trang web này và không sử dụng những kỹ thuật làm thay đổi diện mạo trang web mà không có sự cho phép bằng văn bản của Baolau.
        </p>

        <div class="gap-section"></div> 
        
        <h3>11. Chấm dứt quyền truy cập</h3>
        <div class="gap-title"></div> 
        <p>Baolau có quyền chấm dứt quyền truy cập vào trang web với mọi lý do mà không cần báo trước, cũng không chịu bất kỳ trách nhiệm nào đối với bạn.</p>

        <div class="gap-section"></div> 
        
        <h3>12. Khiếu nại</h3>
        <div class="gap-title"></div> 
        <p>Là một người dùng, bạn có quyền khiếu nại về chất lượng của các dịch vụ trực tuyến được cung cấp bởi Baolau.</p>
        <p>Nếu bạn có lý do để phàn nàn về dịch vụ hoặc nội dung tại trang web này, xin vui lòng liên hệ với chúng tôi thông qua các hình thức liên lạc hoặc gửi đơn khiếu nại bằng văn bản đến địa chỉ công ty chúng tôi.</p>
        <p>Sau khi chúng tôi nhận được đơn khiếu nại, Baolau sẽ tiến hành xác minh và trả lời các khiếu nại của bạn hoặc yêu cầu thêm thông tin để trả lời khiếu nại trong vòng 30 ngày.</p>

        <div class="gap-section"></div> 
        
        <h3>13. Thẩm quyền</h3>
        <div class="gap-title"></div> 
        <p>Các Điều khoản sử dụng và điều kiện tại trang web này tuân theo pháp luật của Việt Nam.</p>
        <p>Mọi tranh chấp phải tuân theo quyết định của tòa án có thẩm quyền của nước Cộng hoà xã hội chủ nghĩa Việt Nam.</p>
                                            </div>
                                            <!-- End panel-content -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap gap-mini"></div>
                            <div class="panel-light">
                                <div class="padded-heading">
                                    <div class="checkbox inline">
                                        <input id="check-confirm-termofuse" class="payment_checkbox" type="checkbox" name="check-confirm-termofuse" value="check-confirm-termofuse">
                                        <label class="inline" for="check-confirm-termofuse">Tôi xác nhận rằng tôi đã đọc và chấp nhận <a href="https://booking.baolau.com/en/legal/#terms-of-use" class="external_link bold" target="_blank">Điều Khoản Sử Dụng</a> và hiểu <a href="https://booking.baolau.com/en/legal/#privacy-policy" class="external_link bold" target="_blank">Chính sách bảo mật</a> </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="gap gap-mini"></div>
                    <div class="panel-light">
                        <div class="padded-heading">
                            <div class="checkbox inline">
                                <input id="check-confirm-cancellation" class="payment_checkbox" type="checkbox" name="check-confirm-cancellation">
                                <label class="inline" for="check-confirm-cancellation">Tôi xác nhận rằng thông tin tôi cung cấp là chính xác và tôi hiểu rằng sau khi yêu cầu đặt phòng được gửi, bất kỳ thay đổi hoặc hủy bỏ nào có thể phải chịu thêm phí</label>
                            </div>
                        </div>
                    </div>
    
                    <div class="gap gap-small"></div>
    
                    <input type="hidden" name="submitting" value="submitting">
                    
                    <a id="submit_payment" class="btn green full-width" style="cursor: pointer;" v-on:click="Redirect()">Tiến Hành Thanh Toán</a>
    
                    <input type="hidden" name="stripeSource" value="">
    
                    <div class="gap gap-footer"></div>
                </form>
            </div>
        </div>
    </div>         
</div>

<!-- FOOTER -->
<%- include('footer')%>
<!-- END FOOTER -->

</div>
<!-- END GLOBAL WRAP -->

</div>
<!-- END FILTER -->

</div>
<!-- END MAIN -->



<!-- WINDOW POPUP -->

<!-- Modals-->


<!-- END WINDOW POPUP -->

    <%- include('scriptCommon',{page: 4})%>
</body>

<!-- Mirrored from booking.baolau.com/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2020 14:32:07 GMT -->
</html>
<!-- v-on:click="Redirect()" -->